{% extends 'base.html' %}

{% block content %}
<p>You may check products in <strong>{{category.name}}</strong> category!</p>
{% if product_list %}
    <ol>
    {% for product in product_list %}
        <li>
            <ul>
                <li>name : {{ product.name }}</li>

                <li>description : {{ product.description}}</li>

                <li>price : {{ product.price}}</li>

                <li><a href="{% url 'product:product' category.slug product.slug %}">Read more</a></li>
            </ul>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>There are no products in this category!</p>
{% endif %}


{% endblock content %}