{% extends 'base.html' %}

{% block content %}
<p>It`s secret page. Only authenticated user can see it!. There are products, that created in range 24 hours from now</p>
{% if product_list %}
    <ol>
    {% for product in product_list %}
        <li>
            <ul>
                <li>name : {{ product.name }}</li>

                <li>description : {{ product.description}}</li>

                <li>price : {{ product.price}}</li>

                <li>{{product.created_at}}</li>
            </ul>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>There are no recently created(about 24 hours) products in secret page!</p>
{% endif %}


{% endblock content %}